<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>a</key>
      <integer>-40</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>a</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-30</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>public.kern2..</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-20</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <integer>-50</integer>
      <key>f</key>
      <integer>-30</integer>
      <key>public.kern2..</key>
      <integer>-90</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>t</key>
      <integer>-30</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>public.kern2..</key>
      <integer>30</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>t</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>t</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>a</key>
      <integer>-20</integer>
      <key>f</key>
      <integer>-20</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>public.kern2..</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>a</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>public.kern2..</key>
      <integer>-100</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-30</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-35</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>a</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-20</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>a</key>
      <integer>-20</integer>
      <key>f</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-30</integer>
    </dict>
  </dict>
</plist>
