<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>sketch</string>
      <string>glyphs.sketch</string>
    </array>
    <array>
      <string>alt</string>
      <string>glyphs.alt</string>
    </array>
    <array>
      <string>sketch2</string>
      <string>glyphs.sketch2</string>
    </array>
    <array>
      <string>sketchs</string>
      <string>glyphs.sketchs</string>
    </array>
    <array>
      <string>sketch3</string>
      <string>glyphs.sketch3</string>
    </array>
    <array>
      <string>sketch1</string>
      <string>glyphs.sketch1</string>
    </array>
  </array>
</plist>
