<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1..</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>d</string>
      <string>i</string>
      <string>j</string>
      <string>q</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>k</string>
      <string>x</string>
    </array>
    <key>public.kern2..</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
  </dict>
</plist>
