<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>sketch</string>
      <string>glyphs.sketch</string>
    </array>
    <array>
      <string>sketch2</string>
      <string>glyphs.sketch2</string>
    </array>
    <array>
      <string>alt</string>
      <string>glyphs.alt</string>
    </array>
    <array>
      <string>curved</string>
      <string>glyphs.curved</string>
    </array>
    <array>
      <string>dotted</string>
      <string>glyphs.dotted</string>
    </array>
    <array>
      <string>o</string>
      <string>glyphs.o</string>
    </array>
    <array>
      <string>sharp</string>
      <string>glyphs.sharp</string>
    </array>
    <array>
      <string>contrast</string>
      <string>glyphs.contrast</string>
    </array>
  </array>
</plist>
